[submodule "opt/vim-markdown"]
	path = opt/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "opt/previm"]
	path = opt/previm
	url = https://github.com/previm/previm.git
[submodule "opt/vim-syntax-yara"]
	path = opt/vim-syntax-yara
	url = https://github.com/s3rvac/vim-syntax-yara.git
[submodule "opt/typescript-vim"]
	path = opt/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "start/vim-ps1"]
	path = start/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "start/ale"]
	path = start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "start/async.vim"]
	path = start/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "start/asyncomplete-lsp.vim"]
	path = start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "start/asyncomplete.vim"]
	path = start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "start/indentLine"]
	path = start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "start/nerdtree"]
	path = start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "start/vim-airline"]
	path = start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "start/vim-airline-themes"]
	path = start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "start/vim-lsp"]
	path = start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "start/vim-lsp-settings"]
	path = start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
