[submodule "opt/indentLine"]
	path = opt/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "opt/ale"]
	path = opt/ale
	url = https://github.com/w0rp/ale.git
[submodule "opt/fzf.vim"]
	path = opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "opt/nerdtree"]
	path = opt/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "opt/vim-airline"]
	path = opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "opt/vim-markdown"]
	path = opt/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "opt/previm"]
	path = opt/previm
	url = https://github.com/previm/previm.git
[submodule "opt/vim-ps1"]
	path = opt/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "opt/vim-syntax-yara"]
	path = opt/vim-syntax-yara
	url = https://github.com/s3rvac/vim-syntax-yara.git
[submodule "opt/ensime-vim"]
	path = opt/ensime-vim
	url = https://github.com/ensime/ensime-vim.git
[submodule "opt/deoplete.nvim"]
	path = opt/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "opt/jedi-vim"]
	path = opt/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "opt/vim-lsp"]
	path = opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "opt/async.vim"]
	path = opt/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule "opt/vim-airline-themes"]
	path = opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "opt/coc.nvim"]
	path = opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "opt/typescript-vim"]
	path = opt/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "opt/asyncomplete.vim"]
	path = opt/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "opt/asyncomplete-lsp.vim"]
	path = opt/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "opt/vim-lsp-settings"]
	path = opt/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings.git
