[submodule "opt/indentLine"]
	path = opt/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "opt/ale"]
	path = opt/ale
	url = https://github.com/w0rp/ale.git
[submodule "opt/fzf.vim"]
	path = opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "opt/molokai"]
	path = opt/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "opt/nerdtree"]
	path = opt/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "opt/vim-airline"]
	path = opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "opt/vim-markdown"]
	path = opt/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "opt/previm"]
	path = opt/previm
	url = https://github.com/previm/previm.git
[submodule "opt/vim-auto-save"]
	path = opt/vim-auto-save
	url = https://github.com/vim-scripts/vim-auto-save.git
[submodule "opt/vim-ps1"]
	path = opt/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
